{% extends './templates/base.html.twig' %}

{% block title %}Lista de Pessoas{% endblock %}

{% block content %}
<h2>Lista de Pessoas</h2>
<ul>
    {% for person in persons %}
    <li>{{person.id}} - {{ person.name }} - {{ person.phone }} - {{ person.email }}</li>
    {% endfor %}
</ul>
{% endblock %}